<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="tests/coverage"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">entities</directory>
            <directory suffix=".php">processes</directory>
            <directory suffix=".php">services</directory>
        </include>
    </source>
</phpunit>
